* {
  box-sizing: border-box;
}
.spinner {
  margin-top: 50vh;
  animation: 2s linear infinite blinking;
}
.container {
  display: flex;
  justify-content: center;
}

.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
}

.rect {
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  position: relative;
  animation: 2s linear infinite moving;
  animation-direction: alternate;
}
